{{ define "main" }}
<div class="section">
    <div class="content" id="tmp">
        {{ partial "title.html" . }}
        {{ .Content }}
        <input type="radio" class="btn-check" name="topicRadio" id="All" autocomplete="off" checked>
        <label class="btn radio-option btn-outline-secondary me-2 mb-1" for="All">Show all</label>
        <div class="btn-group mb-1 d-inline-flex flex-wrap" id="topicForm">
        {{ range .Params.topics }}
                <input type="radio" class="btn-check" name="topicRadio" id="{{ . }}" autocomplete="off">
                <label class="btn radio-option btn-outline-secondary" for="{{ . }}">{{ . }}</label>
            {{ end }}
        </div>
        <div class="album mt-3" id="topicCards">
            <!-- Sort papers by date -->
            {{ range sort .Pages ".Params.pubdate" "desc" }}
                {{ partial "paper-card" . }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}

{{ define "page-scripts" }}
    <script src="/js/paper-filter.js"></script>
{{ end }}
