{{ define "main" }}
<div class="section">
    <div class="content">
        {{ partial "title.html" . }}
        {{ .Content }}
        {{ $nRoles := len .Params.roles }}
        {{ range $index, $role := .Params.roles }}
            <h2 class="member-role mb-2 mt-4 text-center">{{ $role }}</h2>
            <div class="album px-3 px-md-5">
                <div class="row row-cols-2 row-cols-sm-3 row-cols-xl-4 justify-content-center">
                    {{ if in $.Params.printDate $role }}
                        <!-- Nested sort lab members by year joined and name -->
                        {{ range ($.Pages.GroupByParam "yearJoined").Reverse }}
                        {{ range sort .Pages ".Params.name" }}
                        {{ if eq .Params.role $role }}
                        {{ partial "member-card" . }}
                        {{ end }}
                        {{ end }}
                        {{ end }}
                    {{ else }}
                        <!-- Sort by name only -->
                        {{ range sort $.Pages ".Params.name" }}
                        {{ if eq .Params.role $role }}
                        {{ partial "member-card" . }}
                        {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            <!-- Divider between sections -->
            {{ if lt $index (sub $nRoles 1) }}
                <hr class="divider mt-3">
            {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}
